<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="container my-3">
        <div class="card my-3">
            <div class="card-body">
                <div class="my-3">
                    <button onclick="recommendArticle()" class="recommend btn btn-sm btn-outline-secondary">
                        추천
                        <span id="recommend_article_count" class="recommend_article_count badge rounded-pill bg-success">0</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>